/* Global styling start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9fafb;
  overflow-x: hidden;
  height: 20890px;
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Global styling end */

/* main styling start */
main {
  width: 1440px;
  height: 1024px;
  background: #f9fafb;
}

h1 {
  position: absolute;
  width: 377px;
  height: 87px;
  left: 532px;
  top: 35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 87px;
  color: #e2e8f0;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 34px;
  position: absolute;
  width: 445px;
  height: 1196px;
  left: 498px;
  top: 161px;
}

#vector {
  position: fixed;
  left: 76%;
  right: 49.38%;
  top: 91.7%;
  bottom: 0%;
}

#vector:hover {
  cursor: pointer;
}

.add {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  /* gap: 34px; */
  position: relative;
  width: 445px;
  height: 1196px;
  left: 498px;
  top: 19900px;
}

.add-page-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 26px 34px;
  gap: 12px;
  width: 445px;
  height: 171px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.add-page-div h4 {
  width: 221px;
  height: 29px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #374151;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.final-div1 {
  position: absolute;
  width: 455px;
  height: 331px;
  left: -5px;
  top: 568px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.final-div2 {
  position: absolute;
  width: 370px;
  height: 250px;
  left: 41px;
  top: 41px;
}

.final-final-1 {
  position: absolute;
  width: 328px;
  height: 44px;
  left: 43px;
  top: 0px;
  border: 1px solid #f3f4f6;
  border-radius: 4px;
}

.final-final-1 p {
  width: 122px;
  height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #e2e8f0;
  margin-top: 10px;
  margin-left: 10px;
}

.final-final-2 {
  position: absolute;
  width: 328px;
  height: 70px;
  left: 43px;
  top: 64px;
  border: 1px solid #f3f4f6;
  border-radius: 4px;
}

.final-final-2 p {
  width: 153px;
  height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #e2e8f0;
  margin-top: 10px;
  margin-left: 10px;
}

#xMark {
  position: relative;
  top: 19650px;
  left: 660px;
}

#xMark:hover {
  cursor: pointer;
}

#tMark {
  position: relative;
  top: 19650px;
  left: 690px;
}

#tMark:hover {
  cursor: pointer;
}
/* main styling end */
